.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  padding: 20px;
  height: 100%;

}
 .textarea {
  width: 56%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;  font-size: 16px;
  resize: none;
}
.logo img {
  width: 180px;
  cursor: pointer;
  margin-top: 0px;
  margin: 10px;
}

.menu{
  background-color: rgba(255, 255, 255, 0.806);
  width: 30%;
  height: 100%;
  border-radius: 10px;
  border-collapse: separate; 
  border-spacing: 2px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);  
}

.menu div{
  text-align: right;
}
.liner {
  background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);  
  border: 1px solid #a2a1a1;

}
.container {
  margin: auto;
  margin-top: 12px;
  max-width: 350px;
  padding: 0px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 234, 255, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 97%;
  background-color: #c50d0d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #d33434;
}

.alert{
  color: rgb(238, 0, 32);
  font-size: smaller;
}

.input2{
  border-radius: 15px;
  width: 200px;
  height: 30px;
  margin: 5px;
  text-align: center;
  background-color: rgba(208, 209, 209, 0.767);
}

.logo1 {
  padding-top: 1.5rem;
  display: flex;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
}
.logo2 {
  width: 180px;
}

.successAlert {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}


