.filtros {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 90%;

}


.tags2{
  font-size: 26px;
}

.container {
    margin: auto;
    margin-top: 1px;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #95949431;
    box-shadow: 0 2px 4px rgba(0, 234, 255, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 98%;
  }
  
  .input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .buttonContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .button {
    background-color: #c50d0d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
 
  }
  
  .button:hover {
    background-color: #d33434;
  }
  
  .alert{
    color: rgb(238, 0, 32);
    font-size: smaller;
  }
  
  
  
  .input2{
    border-radius: 15px;
    width: 200px;
    height: 30px;
    margin: 5px;
    text-align: center;
    background-color: rgba(208, 209, 209, 0.767);
  }
  
  .logo2 {
    width: 150px;
    text-align: center;
  }
  
  
  .rating {
    font-size: 30px;
  }
  
  .star {
    color: #eeeded;
  }
  
  .starFilled {
    color: gold;
    font-size: 18px;
  }
  
  