.container {
  margin: auto;
  margin-top: 12px;
  max-width: 350px;
  height: 100%;
  padding: 5px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 97%;
  background-color: #c50d0d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #d33434;
}

.logo2 {
  width: 150px;
  text-align: center;
}

.alert {
  color: rgb(238, 0, 32);
  font-size: smaller;
}

.logo1 {
  padding-top: 1.5rem;
  display: flex;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
}

.logo2 {
  width: 180px;
}
