.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    padding: 20px;
    height: 100%;

  }
  
  .logo img {
    width: 180px;
    cursor: pointer;
    margin-top: 0px;
    margin: 10px;
  }

  .menu{
    background-color: rgba(255, 255, 255, 0.806);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-collapse: separate; 
    border-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);  

  }

  .liner {
    background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);  
    border: 1px solid #a2a1a1;

  }

  .h3 {
    margin-top: 0;
  }
/*   
  .tabComponent [role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e6e1de;
    position: relative;
    width: 100%;
    border-collapse: separate; 
    border-spacing: 2px;
  }
  
  .tabsComponent [role="tablist"] button {
    border-collapse: separate; 
    border-spacing: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 1px;
    outline: none;
    background-color: #d00000;
    transition: border 0.2s ease-in-out 0s;
    width: 100%;
  }
  
  .tabsComponent [role="tablist"] button.active,
  .tabsComponent [role="tablist"] button:focus,
  .tabsComponent [role="tablist"] button:hover {
    border-width: 1px;
    border-color: #e9ecef #e9ecef #b41c1c;
  }
  
  .tabsComponent [role="tablist"] button.active {
    color: #0080ff;
    background-color: #f8f8f8;
  }
  
  .tabsComponent [role="tabpanel"] {
    text-align: left;
    padding: 1rem;
    background-color: #ff0aad;
    box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);
  }
  
  .tabsComponent.vertical {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .tabsComponent.vertical [role="tablist"] {
    flex-direction: column;
  }
  
  .tabsComponent.vertical [role="tabpanel"] {
    flex: 1;
  }
  
  .tabsComponent [role="tablist"] button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }
  
  .tabsComponent.vertical [role="tablist"] button.active,
  .tabsComponent.vertical [role="tablist"] button:focus,
  .tabsComponent.vertical [role="tablist"] button:hover {
    border-color: #e9ecef transparent #e9ecef #b41c1c;
  } */

  .icono {
    max-width: 1.5rem;
    max-height: 1rem;
    margin-right: 15px;
  }
  