.liner {
  background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contanier {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  width: 70%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: aliceblue;
  height: 100px;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 10px;
}
.logo img {
  width: 180px;
  cursor: pointer;
  margin-top: 0px;
  margin: 10px;
}
.logo {
  width: 15%;
  display: flex;
  justify-content: center;
}

.SearchBar {
  background-color: rgb(0, 0, 0);
  font-size: 12px;
  display: flex;
  align-items: center;
}

.Text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.Iconos {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

.button {
  margin-bottom: 1rem ;
  right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #c80a30;
  cursor: pointer;
}

.salir img{
  width: 20px;
  margin-top: 3rem;

}

.usuario{
  color: red;
  font-size: 18px;
  background: linear-gradient(180deg, #414141 26.71%, #0f0f0f 50%);
  padding: 10px;
  height: 30px;
  border-radius: 8px 8px 0px 0px;
  align-items: center;

}

@media (max-width: 700px) {
  .logo img {
    width: 800th;
    cursor: pointer;
    margin-top: 0px;
    margin: 10px;
  }

  .liner {
    background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .contanier {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    color: aliceblue;
    height: 100px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 10px;
  }

  .SearchBar {
    background-color: rgb(0, 0, 0);
    font-size: 0.1rem;
    display: flex;
    align-items: center;
    width: 90%;
  }
}


@media (max-width: 500px) {
  .logo img {
    width: 800th;
    cursor: pointer;
    margin-top: 0px;
    margin: 10px;
  }

  .liner {
    background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .contanier {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    color: aliceblue;
    height: 200px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 10px;
  }

  .SearchBar {
    background-color: rgb(0, 0, 0);
    font-size: 0.1rem;
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 10px;
  }
  .salir img{
    width: 20px;
    margin-top: 3rem;
    transition: all 0.5s;
  
  }

  .salir img:hover {
    opacity: 60%;
    transform: translateY(-10px);
    transition: 0.5s;
  
  
  }
  
  .usuario{
    color: red;
    font-size: 18px;
    background: linear-gradient(180deg, #414141 26.71%, #0f0f0f 50%);
    padding: 1px;
    height: 5px;
    border-radius: 8px 8px 0px 0px;
    align-items: center;
  
  }
}