.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 10px;



}

.titulo{
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e80202;
}

.titulo img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-left: 15px;
    margin-right: 15px;
}

.buscador{
    height: 30px;
    border-radius: 8px;
    border-color: #dfdfdf;

    
  }

  .buscador img{
    height: 10px;
 
    
  }
  .tabla{
    border-collapse: separate; 
    border-spacing: 2px;
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    width: 98%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 

  }

  .tabla thead tr{ 
    background-color: #e80202; 
    color: #ffffff;
    text-align: middle; }
  .table th, .table td { 
    padding: 12px 15px; }
  .table tbody tr{ 
    border-bottom: 1px solid #000000; } 
  .table tbody tr:nth-of-type(even) { background-color: #b6b6b6; } 
  .table tbody tr:last-of-type { border-bottom: 2px solid #009879; }

.resultados{  
    width: 100%px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
    
}

.selectores
img{
    width: 15px;
    color: aliceblue;
    margin: 2px;
}

.subTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
  .button {
    height: 30px;
    background: linear-gradient(180deg, #eeeeee 26.71%, #b1b1b1 50%);
    color: #515151;
    padding: 1px 2px;
    border:solid 1px rgb(167, 167, 167);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background: linear-gradient(180deg, #d2d2d2 26.71%, #595959 50%);
    color: #fff;
  }

 .libro img {
    width: 2rem;

 }

 .deletebutton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Ajusta el margen según tu diseño */
}

.deletebutton img {
  width: 17px; /* Ajusta el tamaño según tu diseño */
  height: 17px;
}